@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
:root {
  --blanco: #fff;
  --negro: #111;
  --rojo: #f00;
  --gris: #ddd;
  --parrafospizzas: "Ubuntu";
  --titulosyvegetal: "Playfair Display";
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--blanco);
  max-width: 1000px;
  margin: auto;
}
span {
  color: var(--rojo);
}
header {
  display: flex;
  flex-direction: row;
}
h3{
  width: 10%;
}
#redondo {
  padding: 1rem 3rem;
  border: 1px solid var(--negro);
  width: 20%;
  box-shadow:5px 5px 5px 5px;
  background-color: var(--gris);
  border-radius: 50%;
  text-align: center;
}
nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: end;
  width: 90%;
  align-content: center;
}
a {
  text-decoration: none;
  color: var(--negro);
  padding: 1rem;
  font-family: var(--titulosyvegetal);
  border-bottom: 1px solid transparent;
}
a:hover {
  border-bottom: 1px solid var(--negro);

  transition: 1s;
  cursor: pointer;
}
#vegetal {
  text-align: center;
  margin: 0 9rem;
  border-bottom: 1px solid var(--negro);
  font-family: var(--titulosyvegetal);
}
img {
  margin: 1rem;
  width: 40%;
  height: 30%;
}
main {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
main h2 {
  font-family: var(--parrafospizzas);
}
form h2{
  font-size: xx-large;
}
.info{
  display: flex;
  flex-direction: row;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
form select {
  padding: 0.2rem;
  font-family: var(--parrafospizzas);
}
main p {
  font-family: var(--parrafospizzas);
}
form button {
  border-radius: 1rem;
  padding: 1rem;
  font-size: larger;
  box-shadow: 0 2px 0 2px;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width: 800px) {

  #redondo {
    display: none;
  }
  header{
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  main{
    width: 100%;
  }
  img{
    width: 100%;
  }
  h3{
    text-align: center;
    width: 100%;
  }
  .info{
    margin: 0 2rem;
    flex-direction: column;
  }
  form{
    margin: 0 1rem;
    width: 100%;
  }

}
